<!DOCTYPE html>
<html lang=xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리스트</title>
</head>
<body>

<div class="board" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2 :text="#{page.boards}">리스트</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    :onclick="|location.href='@{/boards/add}'|"
                    type="button" :text="#{page.addBoard}">입력</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th :text="#{label.board.title}">타이틀</th>
                <th :text="#{label.board.content}">본문</th>
                <th :text="#{label.board.nickName}">닉넥임</th>
            </tr>
            </thead>
            <tbody>
            <tr :each="board : ${boards}">
                <td><a href="item.html" :href="@{/boards/{nickName}(nickName=${board.nickName})}" :text="${board.uid}">닉네임</a></td>
                <td :text="${board.title}">타이틀</td>
                <td :text="${board.content}">본문</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>