<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>조회</title>
</head>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.board}">게시물 조회</h2>
    </div>
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="nickName" th:text="#{label.board.nickName}">닉네임</label>
        <input type="text" id="nickName" name="nickName" class="form-control" value="닉네임" th:value="${board.nickName}" readonly>
    </div>
    <div>
        <label for="title" th:text="#{label.board.title}">타이틀</label>
        <input type="text" id="title" name="title" class="form-control" value="타이틀" th:value="${board.title}" readonly>
    </div>

    <div>
        <label for="content" th:text="#{label.board.content}">본문</label>
        <input type="text" id="content" name="content" class="form-control" value="content" th:value="${board.content}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/boards/{uid}/edit(uid=${board.uid})}'|"
                    type="button" th:text="#{page.updateBoard}">게시물 조회</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/boards}'|"
                    type="button" th:text="#{button.list}">목록으로</button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/boards/{uid}/delete(uid=${board.uid})}'|"
                    type="button" th:text="#{button.delete}">삭제</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>